@model GroupViewModel

<form asp-controller="Groups" asp-action="Details" asp-route-id="@Model.Id" method="post">
    <label asp-for="Name"></label>
    <input type="text" asp-for="Name" />
    <button type="submit">Save</button>
</form>